* {
  background-color: rgb(29, 66, 115);
}

#navBrand {
  color: white;
  font-family: 'Monoton', cursive;
  font-size: 70px;
  padding-left: 40px;
}

#navLinks {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

#navContact {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;

}

#contact, #resume {
  border: whitesmoke 5px solid;
  margin-right: 10px;
  background-color:rgb(29, 66, 115);
  color: white(29, 66, 115);
}



 #navbar {
  color: red;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;

}







#footIconContainer {
  display: flex;
  justify-content: space-around;

}

#homeName {
  font-family: 'Monoton'; 
  font-size: 60px;
  letter-spacing: 4px;
  color: rgb(6, 0, 0);;
  display: flex;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 1px;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #a8abb4;
  font-size: 18px;
  font-family: 'Press Start 2P', 'Rubik', sans-serif;
  text-align: center;

}

.bodyContainer #homeMyJ {
  display: flex;
  flex-direction: column;
  border-right: 4px dotted black;
  padding-right: 50px;
  margin-right: 50px;
}

.webDev {
  display: flex;
  flex-direction: column;
  border-right-style :none; 
}

#homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  

}

#homeIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  width: 50%;
  border-bottom: 2px dashed black;
  border-top: 2px dashed black;
  font-size: 100px;
}

#homeIntro {
  font-size: 25px;
  display: flex;
  text-align: center;
  align-self: flex-end;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 4px;
  font-family: 'Rubik', sans-serif;
}

#homeTrevorPhoto {
  border-radius: 58%;
  max-width: 600px;
  max-height: 600px;
  justify-content: center;
}

#homeSubhead {
  font-size: 32px;
  display: flex;
  margin-top: 0px;
  justify-content: center;
  text-align: center;
  font-family: 'News Cycle', 'Rubik', sans-serif;

  
}



#footContact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    align-self: center;
    border-bottom: 4px solid black;
}