body {
  background-color: #02577a	;

}

/* HOme  */

h1 {
  font-size: 600%;
  font-family: 'Bebas Neue', cursive;
  text-decoration: #def2f1 wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 20px;
  text-align: center;
  margin-bottom: 35px;
  color: #17252a
}


h2 {
  font-size: 400%;
  text-align: center;
  font-family: 'Frank Ruhl Libre', serif;
  color: #def2f1;
  text-decoration: #def2f1 wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 20px;
  padding-bottom: 20px;


}

h3 {
  font-size: 180%;
  text-align: center;
  color: #def2f1;
  margin-right: 5%;
  margin-left: 5%;
}





#topHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.material-icons.md-48 {
  font-size: 800%;
  color: #499d8d;
}

.material-icons.md-49 {
  vertical-align: middle;
}

.iconContainer {
  display: flex;
  justify-content: center;
}

#introContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#homeTrevorPhoto {
  border: 8px #499d8d dotted;
  max-width: 50%;
  height: auto;
}

#homePhotoContainer {
  display: flex;
  justify-content: center;
}

#homeButtons {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10%;
  margin-left: 10%;
  flex-wrap: wrap;

  margin-bottom: 8px;
}

#dropdown-basic-button {
  border: #499d8d 3px solid;
  margin-right: 10px;
  background-color: #17252a;
  color: white(29, 66, 115);
  font-size: 200%;
  margin-top: 8px;
  margin-bottom: 8px;
}

#downloadButton {
  border: #499d8d 3px solid;
  margin-right: 10px;
  background-color: transparent;
  color: #def2f1;
  font-size: 50px;
}

#downloadResume {
  border: #499d8d 3px solid;
  margin-right: 10px;
  background-color: #17252a;
  color: #def2f1;
  font-size: 225%;
}

#button1 {
  border: whitesmoke 3px solid;
  background-color: #17252a;
  color:#def2f1;
  font-size: 60px;
}

#socialIcons {
  margin: 8px;
}

#footIconContainer {
  display: flex;
  justify-content: center;
}

.bodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #def2f1;
  font-size: 18px;
  font-family: "Press Start 2P", "Rubik", sans-serif;
  text-align: center;
}

#homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homeIntro {
  font-size: 40px;
  display: flex;
  text-align: center;
  align-self: flex-end;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 4px;
  font-family: "Rubik", sans-serif;
  color: #def2f1;
}





.cardBackground {
  background-color: #def2f1;;
}

/* Header */

#navBrand {
  color: #def2f1;;
  font-family: "Monoton", cursive;
  font-size: 90px;
  padding-left: 40px;
}

#navLinks {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-wrap: wrap;
}

#navContact {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  flex-wrap: wrap;
}

#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#contact,
#resume {
  border: #499d8d 3px solid;
  margin-right: 10px;
  background-color: #17252a;
  color: white(29, 66, 115);
}

/* footer  */

#footContact {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  align-self: center;
  border-bottom: 4px solid black;
}

/* About me */

#aboutContainter {
  display: flex;
  flex-direction: row;
}



#timelineDate {
  color: #def2f1;
}

#timelineHeader {
  color:#499d8d;
  font-size: larger;
}



#clipHeadline {
  font-size: larger;
  font-weight: bolder;
}

#clipByline {
  font-size: smaller;
}

#clipContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#card {
  margin-right: 2%;
  margin-bottom: 2%;
}

th {
  font-size: larger;
  color: #499d8d;
}

td {
  color: #499d8d;
}

i {
  font-size: 800%;
  padding-right: 30px;
  padding-bottom: 20px;
}

#devicon {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dataEmbed {
  padding: 10px;
  max-height: 500px;
  max-width: 800px;
}

#resumeContain {
  margin: 20px;
}

#buttonContain {
  display: flex;
  align-items: center;
}

#contactForm {
  display: flex;
  flex-direction: column;
  border:  #def2f1 solid 10px;
  margin: 10px;
  padding: 30px;
}

label {
  color:#499d8d;
  font-size: larger;
}
#topHead {
  font-size: x-large;
}

#plainLink  {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;;
}

#plainLink:hover  {
  font-weight: bold;
  
}

#styleLink  {
  color: inherit;
  text-decoration:  #def2f1 underline ;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
  text-align: center;
  margin-bottom: 35px;
  cursor: pointer;
  color: #499d8d;
  font-weight: 600;

  
  ;
}

#styleLink:hover  {
  font-weight: bold;
  font-weight: 610;
  color: #83bdb2;
  text-decoration: #def2f1 wavy underline;


  ;
  
}